body, html {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
}

/* Container gambar sebagai patokan */
.comic-container {
    width: 100%;
    max-width: 600px;
    position: relative; /* Wajib ada agar tombol bisa nempel di atas gambar */
    display: inline-block;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

button{
    position: absolute;
    bottom: 9px;
    left: 5%;
    position: left;

    background-color: thistle;
    font-weight: bold;
    border-radius: 50px
}
#back{
    font color: black;
    outline: none;
    -webkit-tap-highlight-color:transparent; }

